{erl_opts, [debug_info]}.
{deps, []}.

{escript_incl_apps, [cli]}.
{escript_main_app, cli}.
{escript_name, cli}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{eunit_compile_opts, [{d,'EUNIT_TEST',true}]}.

{project_plugins, [erlfmt]}.
{erlfmt, [write]}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info, warn_export_all]} ]}]}.
