name: erlang

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ['28']
        rebar3: ['3.26.0']

    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25
      id: go

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Set up erlang
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp}}
        rebar3-version: ${{matrix.rebar3}}

    - name: (hopefully rebar3 is now installed)
      run: rebar3 version

    - name: Build Dialyzer PLT
      run: dialyzer --build_plt --apps erts kernel stdlib mnesia
      
    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Build
      run: |
           make erlang
           make erlang-test

