name: javascript

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25
      id: go

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Set up NodeJS 
      uses: actions/setup-node@v6
      with:
        node-version: 24
      id: nodejs

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Install eslint
      run: npm install eslint --save-dev

    - name: Install mocha and chai
      run: npm install mocha chai

    - name: Build
      run: make http

    - name: Test
      run: make http-test
