name: lua

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25
      id: go

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    # NTS: needs to be before the lua install because it overwrites the folder
    - name: Check out code
      uses: actions/checkout@v5

    - name: Set up Lua
      uses: leafo/gh-actions-lua@v12
      with:
        buildCache: false

    - name: Set up luarocks
      uses: leafo/gh-actions-luarocks@v6

    - name: Install Lua packages
      run: |
           luarocks install argparse
           luarocks install luasocket
           luarocks install luaunit

    - name: Install Rust toolchain (for stylua)
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        default: true
        override: true

    - name: Install stylua
      run: cargo install stylua --features lua54

    - name: Build
      run: make lua

    - name: Test
      run: make lua-test

