name: python

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.24
      id: go

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ^3.14
      id: python

    - name: Install Python packages
      run: pip install yapf

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Create (dummy) .venv virtual environment
      run: |
         pwd
         python -m venv .venv
         ls -la

    - name: Build
      run: make python
